
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #DCDCDC;
    padding: 1% 5%;
}


nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(40, 35, 35);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    transition: 0.3s all;
}

nav ul li a:hover {
    color:#00754A ;
}

.rightHeader ul{
    display: flex;
    align-items: center;
}

.rightHeader ul li {
    list-style: none;
    padding-right: 30px;

}

.rightHeader ul li a {
    text-decoration: none;
    color: rgb(40, 35, 35);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    transition: 0.3s all;    
}

.storebtn:hover{
    color: #00754A;
}

.signbtn {
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 30px;
    transition: 0.3s all;    

}

.signbtn:hover {
    background-color: #E5E5E5;
}

.joinbtn {
    background-color: black;
    color: white !important;
    padding: 5px 15px;
    border-radius: 30px;
    transition: 0.3s all;  
}

.joinbtn:hover {
    background-color: #4C4C4C;
}